# README for {{ project_name }}

{{ description }}

## Installation

call 
``` bash
# add context7 mcp
claude mcp add -s user context7 -- npx -y @upstash/context7-mcp

# add postgress mcp: use right db and pw
claude mcp add -s user pg npx @executeautomation/database-server -- --postgresql --host localhost --database {{ module_name }} --user $PG_USER --password $PG_PASSWORD

# send "all files in one shot" to gemini
claude mcp add -s user consult7 uvx -- consult7 google AIxxxxxxxxxxJU

# to use moonshot.ch as model for claude
source set_kimi_as_antrophic.sh
claude

# run app (on any other free port will work also)
uv run uvicorn {{ module_name }}.main:app --reload --port 8877

# open in browser
open http://localhost:8877/

# run tests
uv run pytest

# commit, push, tag and deploy to TESTING website
./deploy_test_fly.sh

# commit, push, tag and deploy to PRODUCTION website
./deploy_prod_fly.sh

```

