# Requirements for {{ project_name }}

## Overview of tech stack
- fastapi
- uvicorn
- python 3.11
- docker
- fly.io
- tailwindcss
- sqlite
- sqlalchemy

## Data Model

## FRONTEND: pages / tabs / sections

## BACKEND: API / components / services

## Security

## Testing