# Requirements for {{ project_name }}

## Overview of tech stack
- Frontend
  - html
  - javascript
  - tailwind as cdn
- backend
  - python 3.11
  - fastapi
  - uvicorn
  - postgresql
  - migration-tool: see db_migrate.py
- hosting:
  - docker
  - fly.io

## Data Model

## FRONTEND: pages / tabs / sections

## BACKEND: API / components / services

## Security

## Testing